<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/navbar.ejs') %> 

<!-- formulario para incluir uma nova categoria -->
<div class="container">
        <div class="car">
            <div class="car-body">
                <form action="/categories/save " method="post">
                    <input class="form-control mt-2" type="text" name="title" placeholder="Defina o titulo do artigo ">
                    <textarea class="form-control" placeholder="Escreve o artigo aqui!"  name="body" id="article"  style="width: 100%; height: auto !important; "></textarea>
                    <select name="category" id="" class="form-control">
                            <% categories.forEach((category) => {%>
                                <option value="<%=category.id
                                %>"></category> %>"><%= category.title %></option>
                           <%})%>
                    </select>
                    <button class=" btn-primary">Cadastrar</button> 
                </form>
             </div>
        </div>
</div>
<!-- importando o tinymce -->
<script src="/tinymce/tinymce.min.js"></script>
<!-- configurando o tinymce -->
<script>
     tinymce.init({
         language:'pt_BR',
         selector:"#article",
         plugins :[
             'advlist autolink link image list print preview hr  searchreplace wordcounter fullscreen insertdatatime media save  table paste emoticons'
         ]
     });
</script>

</html>
